/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */

/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
}

.main-page-image {
   
    width: 20%;
    align-self: center;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }

.container_bodycontent {
    margin-left: 200px;
    float: left;
    width: 100%;
    border-left: 1px solid;
}

.navigation_tree {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

/* Set widths on the form inputs since otherwise they're 100% wide */

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] { max-width: 280px; }

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .jumbotron { margin-top: 20px; }

    .body-content { padding: 0; }
}


.UpperInfo {
    height: auto;
    width: 100%;
    border-bottom: 1px solid;
}

.PhotoAndRightBar {
    height: 300px;
    width: 100%;
}

.Photo {
    height: 100%;
    width: 60%;
    float: left;
    border-right: 1px solid;
}

.BasicInfo {
    height: 100%;
    width: 40%;
    float: right;
    display: flex;
    flex-direction: column;    
}

.MiddleInfo {
    height: auto;
    width: 100%;
    border-bottom: 1px solid;
}

.LowerInfo {
    height: auto;
    width: 100%;
}

.Title {
    height: 100px;
    width: 100%;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    border-bottom: 1px solid;
}

.MainCreateAuction {
    height: auto;
    width: 100%;
}

.upperBar {
    height: 100px;
    width: 100%;     
}

.middle {
    
    width: 100%;
    height: auto;
    padding: 2%;  
}

.downBar {
    
    width: 100%;
    padding: 2%; 
}

.AuctionText {
    min-height: 300px;
    min-width: 100%;
    resize: none;
}

.AuctionCreateTitleDiv {
    height: 100px;
    width: 100%;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    border: 3px solid;
}

.LeftMiddleBar {
    height: 100%;
    width: 65%;
    

    float: left;
    border: 3px solid;    
}

.RightMiddleBar {
    height: 100%;
    width: 30%;

    float: right;
    border: 3px solid;
}

.BidButtonContainer {
    float: left;
    position: relative;
    left: 20%;
    bottom: 10%;
    margin-top: auto;
}

.BidButton {
    min-width: 200px;
    min-height: 50px;
    width: 70%;
}